button {
  width: 100px;
  height: 100px;
}

#results {
  margin: 40px auto 0 auto;
  width: 500px;
  height: 400px;
  padding: 1px;
  background-color: teal;
}

#results-header {
  margin: 5px auto 0 auto;
  font-size: 3em;
  width: calc(max-content + 1px);
  border-bottom: 1px solid black;
}

.round-result {
  margin: 5px;
  text-align: center;
  padding: 0;  
}
