* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-image: url(images/background.jpg);
  color: rgb(228, 228, 228);
}

#overflow-x {
  overflow-x: hidden;
}

header {
  width: max-content;
  margin: 50px auto 30px auto;
  border-bottom: 2px solid rgb(228, 228, 228);
}

/* versus area */
#versus {
  display: flex;
  width: 700px;
  font-size: 10rem;
  margin: 0 auto 20px auto;
  justify-content: space-evenly;
  color: rgb(228, 228, 228);
}

.fa-robot {
  margin-left: 10px;
  font-size: 10rem;
}

.fa-person {
  font-size: 10rem;
  margin-right: 5px;
}
/* end versus area */

/* buttons  */
.buttons {
  display: flex;
  width: 700px;
  margin: 0 auto;
  justify-content: space-evenly;
}

button {
  position: relative;
  width: 190px;
  height: 100px;
  background-color: #35373B;
  border: none;
  font-size: 40px;
  color: whitesmoke;
}

button .fa-solid {
  width: 100%;
  color: rgb(228, 228, 228);
}

button:hover {
  cursor: pointer;
  background-color: #56595f;
}

button:focus {
  background-color: #635656;
}

button:disabled:hover {
  cursor: not-allowed;
  background-color: #35373B;
}

/* selection icons */
.comp-choice {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 20px;
  max-width: 20px;
}

.player-choice {
  position: absolute;
  bottom: 5px;
  left: 2px;
  font-size: 20px;
  max-width: 20px;
}
/* end selection icons */
/* end buttons */

/* results area */
#results {
  margin: 40px auto 40px auto;
  width: 700px;
  height: 250px;
  padding: 1px;
  background-color: #35373B;
}

#scores-header {
  margin: 5px auto 25px auto;
  font-size: 3em;
  width: max-content;
  border-bottom: 1px solid white;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.round-result {
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
  padding: 0;  
}

.underline {
  width: max-content;
  border-bottom: 1px solid white;
}

.points {
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}
/* end results area */

/* play again button */
a {
  text-decoration: none;
  color: inherit;
}

#play-again {
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  width: 200px;
  height: 60px;
}

.hidden {
  visibility: hidden;
}
/* end play again button */


/* media queries */
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.55rem;
  }

  header {
    margin: 30px auto 30px auto;
  }

  #versus {
    width: 300px;
    font-size: 4rem;
  }

  .fa-robot {
    font-size: 4rem;
  }
  
  .fa-person {
    font-size: 4rem;
  }

  .buttons {
    width: 300px;
  }

  button {
    width: 80px;
    height: 45px;
    font-size: 18px;
  }

  .comp-choice {
    font-size: 10px;
    right: 0;
  }
  
  .player-choice {
    font-size: 10px;
    left: 0;
  }

  #results {
    width: 280px;
    height: 180px;
  }

  #play-again {
    font-size: 1.5rem;
    width: 150px;
    height: 40px;
  }

}
