* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-image: url(images/background.jpg);
  color: white;
}

header {
  width: max-content;
  margin: 100px auto;
  border-bottom: 2px solid white;
}

.buttons {
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: space-evenly;
}

button {
  width: 130px;
  height: 50px;
  background-color: #35373B;
  border: none;
  color: whitesmoke;
}

button:hover {
  cursor: pointer;
}

.fa-regular {
  font-size: 40px;
  font-weight: normal;
}

#results {
  margin: 40px auto 0 auto;
  width: 500px;
  height: 400px;
  padding: 1px;
  background-color: #35373B;
}

#results-header {
  margin: 5px auto 15px auto;
  font-size: 3em;
  width: max-content;
  border-bottom: 1px solid white;
}

.round-result {
  margin: 5px;
  text-align: center;
  padding: 0;  
}
