* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: #00C9C8;
  color: white;
}

header {
  width: max-content;
  margin: 100px auto;
  border-bottom: 2px solid white;
}

.buttons {
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: space-evenly;
}

button {
  width: 130px;
  height: 50px;
  background-color: #ED5E93;
  border: none;
}

#results {
  margin: 40px auto 0 auto;
  width: 500px;
  height: 400px;
  padding: 1px;
  background-color: black;
}

#results-header {
  margin: 5px auto 0 auto;
  color: black;
  font-size: 3em;
  width: max-content;
  border-bottom: 1px solid black;
}

.round-result {
  margin: 5px;
  text-align: center;
  padding: 0;  
}
